<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="confugarationSuite">
  <test thread-count="5" name="TestClassesConfigurationTest">
    <classes>
      <class name="com.test.GoogleTest"/>
      <class name="com.test.GoogleTest1"/>
    </classes>
  </test> <!-- TestClassesConfigurationTest -->
</suite> <!-- confugarationSuite -->
